.bg-eventures {
    background-color: #AFEEEE;
}

.bg-grey {
    background-color: #878787;
}
.text-grey {
    color: #878787;
}

.text-eventures {
    color: #AFEEEE;
}

hr.hr-2{
    height: 2px;
}

.w-45{
    width: 45%;
}

.kolio{
    widows 53%;
}
