
@{
    ViewData["Title"] = "ErrorMessage";
}

    <div class="container-fluid d-flex justify-content-center">
        <h1 class="text-center font-weight-bolder text-xl-center">We are sorry, an unexpected error ocurred :(</h1>
    </div>
    <div>
        <h1 class="text-center font-weight-bolder text-xl-center">Please go back to our <a href="/Home/Index">Homepage</a> to continue navigating trough our website!</h1>
    </div>

